#message-container{
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #message { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        min-height: 50px;
        border-radius: 10px;
        padding: 10px 0;
        background-color: $blue;
        font-size: 1.3rem;
        font-weight: 500;
        span{

        }
    }
}